[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "powerlevel10k"]
	path = .oh-my-zsh-custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
