[submodule "powerlevel9k"]
	path = .oh-my-zsh-custom/themes/powerlevel9k
	url = git@github.com:Powerlevel9k/powerlevel9k.git
[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
